body {
    color: black;
    background: rgb(129, 93, 212);
    margin: 0px;
    font-family:"roboto", sans-serif;
}
header{
    border-bottom: solid 2px rgb(29, 11, 92);
    padding:32px; 
    font-size: 40px;
    color: rgb(35,55,112)

}


.chamada{
    background: rgb(35,55,112);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center;
}
.chamada-texto{
    margin-right: 5%;
}
hl{
    font-size:40px;
}
p{
    font-size:20px;
}
img{
    height: 200px;
}
.categoria{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}
section{
    padding-left: 20px;
    padding-right: 20px;
}